
  .container-fluid{
  background-color: rgb(75, 75, 75);
  color: white;
  
  }
  .footer-copyright{
  background-color: rgb(0, 0, 0);
  color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .blur{
        opacity: .9;
  
      }
  
  .boxshadow{
    -webkit-box-shadow: -2px 2px 46px 33px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 46px 33px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 46px 33px rgba(0,0,0,0.75);
  }
  
  
  
  